.venv

__pycache__

db.sqlite3

/backend/project/api/migrations/*

desktop.ini

mac_env.sh

key.env

lambdaFuncPackage

/frontend/app/src/components/aws-exports.js

/frontend/app/src/graphql

/frontend/app/src/aws-exports.js

/backend/project/project/settings_key.env