.venv

__pycache__

db.sqlite3

/backend/project/api/migrations/*
!/backend/project/api/migrations/__init__.py


desktop.ini

mac_env.sh

key.env

lambdaFuncPackage

/frontend/app/src/components/aws-exports.js