.body {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 70rem;

  margin-top: 1rem;
}

.questionsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  overflow-y: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .questionsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.question {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createdBy {
  font-size: 0.8em;
  opacity: 0.7;
}

.likeStyle {
  display: flex;
  align-items: center;
  color: #1da1f2;
  cursor: pointer;
}

.likeIconStyle {
  margin-right: 5px;
}

.likeButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 24px;
}

.likeCount {
  user-select: none;
}

.likeIconStyle {
  margin-right: 5px;
}
